RewriteEngine On

RewriteCond %{REQUEST_URI} ^.*/edit/.*$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule (.*) view.html?list=$1 [L]
