@media only screen and (max-width: 1000px)
{
    #app-title
    {
        left: 5%;
    }

    .app-menu
    {
        left: calc(5% + 280px);
    }
}

@media only screen and (max-width: 850px)
{
    .app-menu
    {
        left: 50%;
        transform: translateX(-50%);
        top: 87px;
    }

    #image-lacking-notice
    {
        top: 3px;
        left: 0;
        right: 0;
        transform: none;
        padding: 5px;
        border-top-left-radius: 0;
    }

    #app-title
    {
        left: 50%;
        transform: translateX(-50%);
        top: 25px;
    }

    #content > #header
    {
        padding-bottom: 105px;
    }
}
