@media only screen and (max-width: 1000px)
{
    #app-title
    {
        left: 5%;
    }

    .app-menu
    {
        left: calc(5% + 280px);
    }
}

@media only screen and (max-width: 850px)
{
    .app-menu
    {
        left: 50%;
        transform: translateX(-50%);
        top: 87px;
    }

    #app-title
    {
        left: 50%;
        transform: translateX(-50%);
        top: 25px;
    }

    #content > #header
    {
        padding-bottom: 105px;
    }
}

@media only screen and (max-width: 550px)
{
    /* Hide the 'contact' option from the menu. Contact information is also
     * found at the bottom of the page, so this isn't a crucial menu item.*/
    .app-menu div:nth-child(2)
    {
        display: none;
    }

    .app-menu
    {
        width: 300px;
    }
}
