* a
{
    color: inherit;
}

body
{
    background-color: #464646;
    color: rgb(216, 216, 216);
    text-align: center;
    margin: 0;
}

header
{
    position: relative;
    background-color: #c0c0c0;
    color: #f0f0f0;
    padding-bottom: 205px;
}

header > #title
{
    position: absolute;
    top: 38px;
    left: 15%;
    color: #f1f1f1;
}

header > #title > #app-name
{
    transform: rotate(-2deg);
    font-family: "Damion", cursive;
    font-size: 450%;

    position: relative;
    z-index: 0;
}

header > #title > #subtitle
{
    font-family: sans-serif;
    font-size: 70%;
    margin-top: -26px;
    text-align: right;
    font-style: italic;

    position: relative;
    z-index: 1;
}

footer
{
    color: rgb(117, 117, 117);
    font-family: sans-serif;
    font-size: 85%;
    padding-top: 40px;
    padding-bottom: 20px;
}

#content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dbdbdb;
    margin-bottom: -130px;

    background-size: 20px 20px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.02) 1px, transparent 1px),
                      linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 1px, transparent 1px);
}

#content > *
{
    transform: translateY(-30px);
}

#info
{
    font-size: 90%;
    color: rgb(216, 216, 216);
    background-color: #464646;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}

#info > .entry
{
    margin: 10px;
    flex-basis: 350px;
    margin-top: 50px;
}

#info > .entry > .text
{
    text-align: left;
    font-family: sans-serif;
}

#info > .entry > .title
{
    font-family: serif;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}

.CreateNewListButton
{
    margin-top: 40px;
    height: auto;
    width: 100%;
    max-width: 425px;
    display: inline-block;
    color: black;
}

.CreateNewListButton > .button
{
    user-select: none;
    -moz-user-select: none;

    transform: translateY(-22px);
    font-family: sans-serif;
    height: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 6px;
    background-color: #2478d8;
    color: rgb(255, 255, 255);
    border: 1px solid transparent;
    flex: 2;
    box-shadow: 0px 7px 2px -4px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: all 0.05s ease-out;
}

.CreateNewListButton > .button.step-1
{
    cursor: pointer;
}

.CreateNewListButton > .button.step-1:active
{
    transform: translateY(-20px);
    box-shadow: none;
}

.CreateNewListButton > .button.step-3
{
    user-select: auto;
    -moz-user-select: auto;
}

.CreateNewListButton > .button.step-fail
{
    background-color: rgb(185, 58, 58);
}

.ObservationListElement
{
    position: relative;
    color: black;
    background-color: transparent;
    align-items: center;
    border-radius: 3px;
    margin: 8px;

    display: flex;
    flex-direction: column;
}

.ObservationListElement .BirdThumbnail
{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 16px solid #f3f3f3;
    box-shadow: 0 3px 5px -4px rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.ObservationListElement > .card
{
    font-family: "Nunito", serif;
    font-size: 98%;
    border-radius: 3px;
    width: 196px;
    margin-top: -15px;
    padding-top: 24px;
    padding-bottom: 13px;
    background-color: #eaeaea;
    line-height: 115%;
    text-align: center;
    position: relative;
    z-index: 1;
    box-shadow: 0 2px 5px -4px rgba(0, 0, 0, 0.2);
}

.ObservationListElement > .card > .ObservationInfo
{
    opacity: 1;
    transform: rotateY(0);
    visibility: visible;
    z-index: 3;
    transition: all 0.2s linear;
}

.ObservationListElement > .card > .ObservationInfo.hidden
{
    opacity: 0;
    transform: rotateX(80deg);
    visibility: hidden;
}

.ObservationListElement > .card > .ObservationInfo > .bird-name
{
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
    font-size: 90%;
}

.ObservationListElement > .card > .ObservationInfo > .date
{
    font-size: 80%;
    color: rgba(0, 0, 0, 0.6);
}

.ObservationListElement > .AsyncIconButtonBar
{
    display: none;
}

.ObservationListElement .GeoTag
{
    display: none;
}

.BirdThumbnail
{
    user-select: none;
    -moz-user-select: none;
    pointer-events: none;
}
