* a
{
    color: inherit;
}

body
{
    background-color: #c0c0c0;
    color: white;
    text-align: center;
    margin: 0;
    overflow-y: scroll;
    background-color: #dbdbdb;
    background-size: 20px 20px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.02) 1px, transparent 1px),
                      linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 1px, transparent 1px);

    position: relative;
    z-index: 1;
}

footer
{
    font-family: "Delious", sans-serif;
    color: rgb(128, 128, 128);
    padding-top: 30px;
    padding-bottom: 35px;
    font-size: 90%;
}

#content
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

#content > #header
{
    background-color: #646464;
    padding-bottom: 205px;
}

#app-title
{
    transform: rotate(-2deg);
    position: absolute;
    top: 38px;
    left: 14%;
    z-index: 2;
}

#app-name
{
    position: relative;
    z-index: 1;

    color: #f1f1f1;
    font-family: "Damion", cursive;
    font-size: 450%;
}

#app-subtitle
{

    font-family: sans-serif;
    font-size: 70%;
    margin-top: -24px;

    text-align: right;
    font-style: italic;

    position: relative;
    z-index: 1;
}

#observation-list
{
    position: relative;
    z-index: 1;
    min-height: 710px;
    background-color: transparent;

    padding: 10px;
    padding-bottom: 30px;
}

#observation-list:empty::before
{
    display: inline-block;
    font-style: bold;
    font-variant: normal;
    text-rendering: auto;

    position: relative;
    top: 60px;

    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    content: "\f110";
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    animation: fa-spin 2.7s infinite linear;
    font-size: 500%;
    color: white;
}

.app-menu
{
    position: absolute;
    z-index: 1;
    top: 59px;
    left: calc(14% + 300px); /* Next to the app title.*/
    display: flex;
    flex-direction: row;
}

.app-menu > .app-menu-item
{
    font-family: sans-serif;
    font-variant: small-caps;
    text-align: center;
    margin: 7px;
    margin-right: 5px;
    color: #f9f9f9;
    padding: 15px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
    flex: 1;
}

.app-menu > .app-menu-item a
{
    text-decoration: none;
}

.app-menu > .app-menu-item:hover
{
    color: white;
    border-bottom: 4px solid #e9e9e9;
}

.AsyncIconButton.enabled
{
    cursor: pointer;
}

.AsyncIconButton.enabled:active
{
    transform: translateY(2px);
}

.AsyncIconButton.waiting
{
    cursor: auto;
}

.AsyncIconButton.disabled
{
    cursor: auto;
}

.MenuButton
{
    cursor: pointer;
}

.MenuButton.disabled
{
    cursor: auto;
}

.BirdThumbnail
{
    user-select: none;
    -moz-user-select: none;
    pointer-events: none;
}

.ObservationList > .ObservationListActionBar
{
    display: flex;
    flex-direction: row;
    width: 400px;
    position: relative;
    top: -147px;
    right: 14%;
    margin: 0;
    margin-left: auto;
    color: rgba(241, 241, 241, 0.45);
    opacity: 1;
    height: 45px;
    line-height: 45px;
    z-index: 41; /* Above observation list elements.*/
    transform: none;

    transition: transform 0.25s linear;
}

.ObservationList > .ObservationListActionBar.disabled
{
    opacity: 0;
    transform: translateY(2px) rotateX(4deg);
}

.ObservationList > .ObservationListActionBar.enabled
{
    opacity: 1;
    transform: translateY(0) rotateX(0deg);
}

.ObservationList > .ObservationListActionBar > *
{
    flex-grow: 1;
}

.ObservationList > .ObservationListActionBar > .lock i
{
    color: #f9f9f9;
    transform: scale(1.5);
}

.ObservationList > .ObservationListActionBar > .MenuButton
{
    position: relative;
}

.ObservationList > .ObservationListActionBar > .MenuButton > .icon
{
    color: #f9f9f9;
}

/* Font Awesome icons.*/
.ObservationList > .ObservationListActionBar > .MenuButton > .icon i
{
    transform: scale(1.5);
}

.ObservationList > .ObservationListActionBar > .MenuButton > .tooltip
{
    white-space: nowrap;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    color: #000000;
    border-radius: 3px;
    font-size: 90%;
    font-family: sans-serif;
    line-height: 100%;
    padding: 8px;
    padding-left: 13px;
    padding-right: 13px;
    min-width: 45px;
    box-shadow: 0px 7px 2px -4px rgba(0, 0, 0, 0.1);
}

.ObservationList > .ObservationListActionBar > .MenuButton > .tooltip::after
{
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #f9f9f9 transparent transparent transparent;
}

.ObservationList > .ObservationListActionBar > .MenuButton > .dropdown
{
    user-select: none;
    -moz-user-select: none;

    color: white;
    border-radius: 8px;
    width: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 15px 40px rgba(15, 7, 0, 0.15);

    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}
.ObservationList > .ObservationListActionBar > .MenuButton > .dropdown.active
{
    animation-name: animation-slide-down-frames;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.15s;
}

.ObservationList > .ObservationListActionBar > .MenuButton > .dropdown > .title
{
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    background-color: #757575;
    cursor: auto;
    border-radius: 4px 4px 0 0;
}

.ObservationList > .ObservationListActionBar > .MenuButton > .dropdown > .items > div
{
    color: black;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.ObservationList > .ObservationListActionBar > .MenuButton > .dropdown > .items > div:last-child
{
    border-radius: 0 0 4px 4px;
}

.ObservationList > .ObservationListActionBar > .MenuButton > .dropdown > .items > div:hover
{
    transform: scale(1.1);
    background-color: white;
    border-radius: 0;
}

.ObservationList > .ObservationListActionBar > .MenuButton > .dropdown.inactive
{
    display: none;
}

.ObservationList > .ObservationListActionBar > .MenuButton > .dropdown.active
{
    display: block;
}

.BirdSearchBar > .search-field
{
    width: 230px;
    height: 40px;
    outline: none;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 4px;
    padding-left: 44px;
    border: none;

    position: relative;
    z-index: 21;

    color: #f9f9f9;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 25px;

    transition: width 0.15s linear;
}

.BirdSearchBar > .search-field:focus
{
    border-bottom: 4px solid #e9e9e9;
}

.BirdSearchBar > .icon
{
    position: absolute;
    top: 1px;
    left: 38px;

    z-index: 22;
    color: #f1f1f1;
    pointer-events: none;
}

.BirdSearchResultsDisplay
{
    position: absolute;
    top: 45px; /* Below the search input field.*/
    right: calc(12% + 129px); /* Level with the search input field.*/
    z-index: 10; /* Above the observation list.*/
}

.BirdSearchResultsDisplay.active
{
    animation-name: animation-slide-down-frames;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.15s;
}

.BirdSearchResult
{
    font-family: "Nunito", serif;
    font-size: 98%;
    width: 380px; /* Width of the parent container minus padding.*/
    color: black;
    background-color: #f9f9f9;
    padding: 6px;
    padding-top: 17px;
    padding-bottom: 17px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-top: 4px;
    box-shadow: 0 -23px 15px 57px rgba(15, 7, 0, 0.15);

    position: relative;
    z-index: 20;
}

.BirdSearchResult.not-previously-observed > .AsyncIconButton
{
    color: #3591e7;
    position: absolute;
    bottom: -10px;
    right: -15px;
    width: 65px;
    height: 65px;
    line-height: 65px;
    background-color: #f9f9f9;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    font-size: 175%;
}

.BirdSearchResult .BirdThumbnail
{
    width: 90px;
    height: 90px;
    margin-left: 15px;
    margin-right: 23px;
    border-radius: 50%;
    border: 7px solid white;
    box-shadow: 0 0px 7px -4px rgba(0, 0, 0, 1);
}

.BirdSearchResult > .card
{
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 140%;
}

.BirdSearchResult > .card > *
{
    flex: 1;
}

.BirdSearchResult > .card > .bird-name
{
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
    font-size: 100%;
}

.BirdSearchResult > .card > .date-observed
{
    font-size: 100%;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
}

.BirdSearchResult > .card > .classification
{
    font-size: 90%;
    color: rgba(0, 0, 0, 0.6);
}

.ObservationList
{
    display: inline-block;
    width: 100%;
}

.ObservationList > .ObservationListFooter
{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;

    font-size: 95%;
    text-align: left;
}

.ObservationList > .ObservationListFooter > .observation-count
{
    background-color: rgb(61, 61, 61);
    color: #f1f1f1;
    padding: 10px;
    padding-left: 11px;
    padding-right: 11px;
    font-family: sans-serif;
    border-radius: 0 4px 0 0;
}

.ObservationList > .observation-cards > .intro
{
    font-size: 115%;
    font-family: "Delius", sans-serif;
    color: rgb(238, 104, 42);
    width: 550px;
    text-align: left;
    padding: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 25px;
    border-radius: 0px;
    background-color: #f9f9f9;
}

.ObservationList > .observation-cards
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transform: translateY(-85px);
}

.ObservationList > .observation-cards.sata-lajia > .ObservationListElementGhost
{
    display: block;
}

.ObservationCard,
.ObservationListElementGhost
{
    position: relative;
    color: black;
    background-color: transparent;
    align-items: center;
    border-radius: 3px;
    margin: 8px;
    z-index: 40;

    display: flex;
    flex-direction: column;
}

.ObservationListElementGhost
{
    display: none;
}

.ObservationCard > .PlainTag.lis-laji
{
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(241, 200, 14);
    color: black;
    border-radius: 5px;
    box-shadow: 0px 10px 2px -5px rgba(0, 0, 0, 0.1);
    font-size: 80%;
    font-family: sans-serif;

    position: absolute;
    left: calc(50% - 40px);
    transform: translateX(-50%);
    top: 4px;
    z-index: 5;
}

.ObservationCard > .order-tag
{
    font-size: 80%;
    font-family: sans-serif;
    background-color: rgb(207, 147, 34);
    color: rgba(255, 255, 255, 0.85);
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0 2px 5px -3px rgba(0, 0, 0, 0.4);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 58px;
    z-index: 4; /* Above the bird thumbnail.*/
}

.ObservationCard .BirdThumbnail,
.ObservationListElementGhost .BirdThumbnail
{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 16px solid #f3f3f3;
    box-shadow: 0 3px 5px -4px rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.ObservationListElementGhost .BirdThumbnail
{
    background-color: #dbdbdb;
    border: 1px dashed rgb(143, 143, 143);
    padding: 15px;
    box-shadow: none;
}

.ObservationCard > .info,
.ObservationListElementGhost > .info
{
    font-family: "Nunito", serif;
    font-size: 98%;
    border-radius: 3px;
    width: 196px;
    margin-top: -15px;
    padding-top: 24px;
    padding-bottom: 13px;
    background-color: #eaeaea;
    line-height: 115%;
    text-align: center;
    position: relative;
    z-index: 1;
    box-shadow: 0 2px 5px -4px rgba(0, 0, 0, 0.2);
}

.ObservationListElementGhost > .info
{
    width: 194px;
    margin-top: -15px;
    background-color: #dbdbdb;
    border: 1px dashed rgb(143, 143, 143);
    padding-top: 23px;
    padding-bottom: 12px;
    box-shadow: none;
}

.ObservationCard > .info > .ObservationInfo
{
    opacity: 1;
    transform: rotateY(0);
    visibility: visible;
    z-index: 3;
    transition: all 0.2s linear;
    white-space: nowrap;
}

.ObservationCard > .info > .ObservationInfo.hidden
{
    opacity: 0;
    transform: rotateX(80deg);
    visibility: hidden;
}

.ObservationCard > .info > .ObservationInfo > .bird-name,
.ObservationListElementGhost > .card > .ObservationInfo > .bird-name
{
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
    font-size: 90%;
}

.ObservationCard > .info > .ObservationInfo > .date,
.ObservationListElementGhost > .card > .ObservationInfo > .date
{
    font-size: 80%;
    color: rgba(0, 0, 0, 0.6);
}

.ObservationCard > .AsyncIconButtonBar
{
    opacity: 1;
    visibility: visible;
    font-size: 130%;
    z-index: 3;
    transition: all 0.35s ease-in-out;
    border-radius: 0 8px 8px 8px;
    background-color: #f3f3f3;
    box-shadow: -10px 10px 1px -2px rgba(0, 0, 0, 0.2);

    position: absolute;
    top: 5px;
    right: -12px;
    z-index: 5;
}

/* A triangle.*/
.ObservationCard > .AsyncIconButtonBar:after
{
    position: absolute;
    top: 0;
    left: -8px;
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 10px 0;
    border-color: transparent #f3f3f3 transparent transparent;
}

.ObservationCard > .AsyncIconButtonBar.hidden
{
    opacity: 0;
    visibility: hidden;
    transform: translateX(-3px);
}

.ObservationCard > .AsyncIconButtonBar > .buttons
{
    display: flex;
    flex-direction: column;
}

.ObservationCard > .AsyncIconButtonBar > .buttons > *
{
    color: #3591e7;
    cursor: pointer;
    padding: 7px;
    margin: 5px;
    flex: 1;
}

.ObservationCard > .AsyncIconButtonBar > .buttons > *:hover
{
    color: #277ecf;
}

.AsyncIconButtonBar > .buttons > .AsyncIconButton.disabled
{
    color: rgba(0, 0, 0, 0.2);
    cursor: auto;
}

.Dialog
{
    min-width: 400px;
    padding-top: 0px;
    padding-bottom: 1px;
    background-color: #f9f9f9;
    border-radius: 3px;
    display: inline-block;
    color: black;
    z-index: 200;
    box-shadow: 0 6px 30px -7px rgba(0, 0, 0, 0.95);

    /* Temp hack. Fixes the background border showing through the title's corners.*/
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    /* Center in the viewport.*/
    position: fixed;
    transform: translateX(-50%);
    top: 40px;
    left: 50%;
}

.Dialog > .title
{
    text-align: left;
    padding: 18px;
    color: white;
    border-radius: 0;
    background-color:#3591e7;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    user-select: none;
    -moz-user-select: none;
}

.Dialog > .title > .title-icon
{
    margin-right: 5px;
    font-size: 125%;
}

.Dialog > .button-bar
{
    width: 200px;
    position: absolute;
    bottom: -75px;
    right: 0;
    display: flex;
}

.Dialog > .button-bar > *
{
    user-select: none;
    -moz-user-select: none;

    margin: 5px;
    padding: 0px;
    font-size: 95%;
    color: #f2f2f2;
    cursor: pointer;
    flex: 1;

    transition: transform 0.025s ease-in-out;
}

.Dialog > .button-bar > .accept
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Dialog > .button-bar > .reject:active
{
    transform: translateY(2px);
}

.Dialog > .button-bar > *:hover
{
    color: white;
}

.Dialog > .button-bar > *.disabled
{
    color: rgb(168, 168, 168);
    cursor: auto;
    pointer-events: none;
}

.Dialog > .button-bar > *.waiting
{
    color: white;
}

.Dialog > .form
{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
}

.Dialog > .form > .fields
{
    flex: 1;
}

.Dialog > .form > .BirdThumbnail
{
    width: 100px;
    height: 100px;
    margin-right: 25px;
    border-radius: 50%;
}

.Dialog > .form > .fields input
{
    outline: none;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.4);
    padding-right: 15px;
    padding-left: 15px;
    background-color: white;
    transition: box-shadow 0.1s ease-in-out;
    min-height: 47px;
}

.Dialog > .form > .fields input:focus,
.Dialog > .form > .fields input:hover
{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.Dialog.QueryObservationDate > .form > .fields > .date-bar
{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
}

.Dialog.QueryObservationDate > .form > .fields > .date-bar *
{
    flex: 1;
    min-width: 0;
}

.Dialog.QueryObservationDate > .form > .fields > .date-bar > .month
{
    flex: 2;
}

.Dialog.QueryObservationDate > .form > .fields .ScrollerLabel
{
    text-align: center;
}

.Dialog.QueryObservationDate > .form > .fields > .bird-name
{
    color: black;
    text-align: left;
}

.Dialog.QueryAddNewObservation > .form > .fields > .date-bar
{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
}

.Dialog.QueryAddNewObservation > .form > .fields > .date-bar *
{
    flex: 1;
    min-width: 0;
}

.Dialog.QueryAddNewObservation > .form > .fields > .date-bar > .month
{
    flex: 2;
}

.Dialog.QueryAddNewObservation > .form > .fields .ScrollerLabel
{
    text-align: center;
}

.Dialog.QueryAddNewObservation > .form > .fields > .bird-name
{
    color: black;
    text-align: left;
}

.Dialog.QueryObservationDeletion
{
    min-width: 450px;
    padding-bottom: 2px;
}

.Dialog.QueryObservationDeletion > .form > .fields
{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.Dialog.QueryObservationDeletion > .form > .fields
{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.Dialog.QueryObservationDeletion > .form > .fields > .list-id
{
    flex: 1;
}

.Dialog.QueryObservationDeletion > .form > .fields > .bird-name
{
    color: black;
    text-align: left;
    margin-bottom: 12px;
}

.Dialog.QueryObservationDeletion > .form > .fields > .instruction
{
    margin-left: auto;
    margin-right: 4px;
    margin-top: 9px;
    font-size: 80%;
    color: rgba(0, 0, 0, 0.75);
}

.ScrollerLabel
{
    user-select: none;
    -moz-user-select: none;
}

.ScrollerLabel .Scroller
{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.2);
}

.ScrollerLabel .Scroller:hover
{
    color: #3591e7;
}

.ScrollerLabel .Scroller:active
{
    color: #2c81cf;
}
