body
{
    background-color: #dbdbdb;
    color: white;
    text-align: center;
}

#search-widget
{
    display: inline-block;
}

.BirdThumbnail
{
    user-select: none;
    -moz-user-select: none;
    pointer-events: none;
}

.BirdSearchField
{
    width: 350px;
    height: 40px;
    outline: none;
    background-color: #eaeaea;
    position: relative;
    z-index: 100;
}

.BirdSearchResultsDisplay
{
    box-shadow: 0 1px 5px -3px rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 101;
}

.BirdSearchResultElement
{
    width: 320px; /* Width of the parent container minus padding.*/
    color: black;
    background-color: #f5f5f5;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 110%;

    -moz-user-select: none;
    user-select: none;

    transition: all 0.04s ease-in-out;
}

.BirdSearchResultElement .BirdThumbnail
{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 5px -4px rgba(0, 0, 0, 0.5);
}

.BirdSearchResultElement .name
{
    text-align: left;
    padding-left: 3px;
}

.BirdSearchResultElement:last-child
{
    border-radius: 0 0 2px 2px;
}

.BirdSearchResultElement:nth-child(2n)
{
    background-color: #f5f5f5;
}

.BirdSearchResultElement .observed-date
{
    margin-left: auto;
    padding-right: 5px;
    font-size: 75%;
    color: dimgray;
    text-align: right;
}

.BirdSearchField
{
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
}

.ObservationList
{
    display: inline-block;
}

.ObservationList > .elements
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.ObservationList .sorter
{
    margin-bottom: 15px;
}

.ObservationListElement
{
    position: relative;
    color: black;
    background-color: transparent;
    align-items: center;
    border-radius: 3px;
    margin: 9px;

    display: flex;
    flex-direction: column;
}

.ObservationListElement .BirdThumbnail
{
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 18px solid #efefef;
    box-shadow: 0 3px 5px -4px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.ObservationListElement > .card
{
    border-radius: 3px;
    width: 196px;
    margin-top: -15px;
    padding-top: 21px;
    padding-bottom: 13px;
    background-color: #eaeaea;
    line-height: 130%;
    text-align: center;
    position: relative;
    z-index: 1;
}

.ObservationListElement > .card > .ObservationInfo
{
    opacity: 1;
    transform: rotateY(0);
    visibility: visible;
    z-index: 3;
    transition: all 0.2s linear;
}

.ObservationListElement > .card > .ObservationInfo.hidden
{
    opacity: 0;
    transform: rotateX(80deg);
    visibility: hidden;
}

.ObservationListElement > .card > .ObservationInfo > .bird-name
{
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
    font-size: 90%;
}

.ObservationListElement > .card > .ObservationInfo > .date
{
    font-size: 80%;
    color: rgba(0, 0, 0, 0.6);
}

.ObservationListElement > .AsyncIconButtonBar
{
    opacity: 1;
    visibility: visible;
    font-size: 130%;
    z-index: 3;
    transition: all 0.35s ease-in-out;
    border-radius: 0 6px 6px 6px;
    background-color: #fbfbfb;
    box-shadow: 0 4px 7px -2px rgba(0, 0, 0, 0.15);

    position: absolute;
    top: 0;
    right: -15px;
    
    z-index: 5;
}

/* A triangle.*/
.ObservationListElement > .AsyncIconButtonBar:after
{
    position: absolute;
    top: 0;
    left: -10px;
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent #fbfbfb transparent transparent;
}

.ObservationListElement > .AsyncIconButtonBar.hidden
{
    opacity: 0;
    visibility: hidden;
    transform: translateX(-15px);
}

.ObservationListElement > .AsyncIconButtonBar > .buttons
{
    display: flex;
    flex-direction: column;
}

.ObservationListElement > .AsyncIconButtonBar > .buttons > *
{
    flex: 1;
}

.ObservationListElement > .AsyncIconButtonBar > .buttons > *
{
    color: rgb(53, 145, 231);
    cursor: pointer;
    padding: 7px;
    margin: 5px;
}

.ObservationListElement > .AsyncIconButtonBar > .buttons > .AsyncIconButton.enabled:hover
{
    color: rgb(53, 145, 231);
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 6px;
}

.AsyncIconButtonBar > .buttons > .AsyncIconButton.enabled:active
{
    transform: translateY(2px);
}

.AsyncIconButtonBar > .buttons > .AsyncIconButton.disabled
{
    color: rgba(0, 0, 0, 0.2);
    cursor: auto;
}

.GeoTag
{
    transform: translateY(-3px);
    color: rgba(0, 0, 0, 0.25);
    padding-left: 3px;
    font-size: 100%;
}

.GeoTag a
{
    color: inherit;
    outline: none;
    text-decoration: none;
    border: none;
}

.ObservationListElement .GeoTag
{
    color: rgb(226, 42, 36);
    font-size: 80%;
}

.Dialog
{
    min-width: 400px;
    padding-top: 0px;
    padding-bottom: 1px;
    background-color: #f2f2f2;
    border-radius: 6px;
    display: inline-block;
    color: black;
    z-index: 200;
    box-shadow: 0 6px 10px -7px rgba(0, 0, 0, 0.55);

    /* Temp hack. Fixes the background border showing through the title's corners.*/
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    /* Center in the viewport.*/
    position: fixed;
    transform: translateX(-50%);
    top: 20px;
    left: 50%;
}

.Dialog > .title
{
    text-align: left;
    padding: 18px;
    color: white;
    border-radius: 0;
    background-color:rgb(53, 145, 231);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    user-select: none;
    -moz-user-select: none;
}

.Dialog > .button-bar
{
    width: 200px;
    position: absolute;
    bottom: -75px;
    right: 0;
    display: flex;
}

.Dialog > .button-bar > *
{
    user-select: none;
    -moz-user-select: none;

    margin: 5px;
    padding: 0px;
    font-size: 95%;
    color: #f2f2f2;
    cursor: pointer;
    flex: 1;

    transition: transform 0.025s ease-in-out;
}

.Dialog > .button-bar > *:hover
{
    color: white;
}

.Dialog > .button-bar > *:active
{
    transform: translateY(2px);
}

.Dialog > .button-bar > *.disabled
{
    color: rgb(168, 168, 168);
    cursor: inherit;
    pointer-events: none;
}

.Dialog > .button-bar > *.waiting
{
    color: white;
}

.Dialog > .form
{
    padding-top: 18px;
    padding-left: 17px;
    padding-right: 20px;
    padding-bottom: 15px;
    display: flex;
}

.Dialog > .form > .fields
{
    flex: 1;
}

.Dialog > .form > .BirdThumbnail
{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50%;
}

.Dialog > .form > .fields input
{
    outline: none;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.23);
}

.Dialog > .form > .fields input:focus
{
    border: 1px solid rgba(53, 145, 231, 0.8);
}

.Dialog.QueryObservationDate > .form > .fields > .date-bar
{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
}

.Dialog.QueryObservationDate > .form > .fields > .date-bar *
{
    flex: 1;
    min-width: 0;
}

.Dialog.QueryObservationDate > .form > .fields > .date-bar > .month
{
    flex: 2;
}

.Dialog.QueryObservationDate > .form > .fields .ScrollerLabel
{
    text-align: center;
}

.Dialog.QueryObservationDate > .form > .fields > .bird-name
{
    color: black;
    text-align: left;
}

.Dialog.QueryObservationDeletion
{
    min-width: 450px;
    padding-bottom: 2px;
}

.Dialog.QueryObservationDeletion > .form > .fields
{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.Dialog.QueryObservationDeletion > .form > .fields
{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.Dialog.QueryObservationDeletion > .form > .fields input
{
    padding-left: 43px; /* Make room for the embedded icon.*/
}

.Dialog.QueryObservationDeletion > .form > .fields > .list-id
{
    flex: 1;
}

.Dialog.QueryObservationDeletion > .form > .fields > .character-count
{
    margin-left: auto;
    margin-right: 4px;
    margin-top: 4px;
    font-size: 80%;
}

.Dialog.QueryObservationDeletion > .form > .fields > .bird-name
{
    color: black;
    text-align: left;
    margin-bottom: 12px;
}

.Dialog.QueryObservationDeletion > .form > .fields .input-icon
{
    position: absolute;
    left: 146px;
    bottom: 51px;
    display: inline-block;
    color: rgb(185, 185, 185);
}

.Dialog.QueryObservationDeletion > .form > .fields .input-icon.good-input
{
    color: rgba(53, 145, 231, 0.8);
}

.Dialog.QueryObservationPlace
{
    min-width: 450px;
    padding-bottom: 2px;
}

.Dialog.QueryObservationPlace > .form > .fields
{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.Dialog.QueryObservationPlace > .form > .fields > .bird-name
{
    color: black;
    text-align: left;
    margin-bottom: 12px;
}

.Dialog.QueryObservationPlace > .form > .fields input
{
    padding-left: 43px; /* Make room for the embedded GeoTag.*/
}

.Dialog.QueryObservationPlace > .form > .fields .map-link
{
    font-size: 175%;
    position: absolute;
    left: 150px;
    bottom: 44px;
    display: inline-block;
}

.Dialog.QueryObservationPlace > .form > .fields .map-link a
{
    color: rgba(53, 145, 231, 0.8);
    text-decoration: none;
}

.Dialog.QueryObservationPlace > .form > .fields .map-link a.disabled
{
    color: rgb(191, 191, 191);
}

.Dialog.QueryObservationPlace > .form > .fields > .character-count
{
    margin-left: auto;
    margin-right: 4px;
    margin-top: 4px;
    font-size: 80%;
}

.Dialog.QueryObservationPlace > .form > .fields > .place-name
{
    flex: 1;
}

.ScrollerLabel
{
    user-select: none;
    -moz-user-select: none;
}

.ScrollerLabel .Scroller
{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.2);
}

.ScrollerLabel .Scroller:hover
{
    color: rgba(53, 145, 231, 0.8);
}

.ScrollerLabel .Scroller:active
{
    color: rgb(53, 145, 231);
}
