/* Placeholder stylings.*/

body
{
    background-color: #404040;
    color: lightgray;
    text-align: center;
}

#search-widget
{
    display: inline-block;
}

.BirdSearchField
{
    width: 400px;
    outline: none;
    background-color: #eaeaea;
    position: relative;
    z-index: 100;
}

.BirdSearchResultsDisplay
{
    box-shadow: 0 1px 5px -3px rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 101;
}

.BirdSearchResultElement
{
    width: 370px; /* Width of the parent container minus padding.*/
    color: black;
    background-color: #f2f2f2;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 110%;

    -o-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    transition: all 0.04s ease-in-out;
}

.BirdSearchResultElement img
{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 5px -4px rgba(0, 0, 0, 0.5);
}

.BirdSearchResultElement .name
{
    text-align: left;
    padding-left: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.BirdSearchResultElement:last-child
{
    border-radius: 0 0 2px 2px;
}

.BirdSearchResultElement:nth-child(2n)
{
    background-color: #eaeaea;
}

.BirdSearchResultElement .observed-date
{
    margin-left: auto;
    padding-right: 5px;
    font-size: 75%;
    color: dimgray;
    text-align: right;
}

.BirdSearchField
{
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
}

.ObservationList
{
    display: inline-block;
    width: 550px;
}

.ObservationListElement
{
    color: black;
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 110%;
}

.ObservationListElement:nth-of-type(2n)
{
    background-color: #eaeaea;
}

.ObservationListElement:first-child
{
    border-radius: 2px 2px 0 0;
}

.ObservationListElement:last-child
{
    border-radius: 0 0 2px 2px;
}

.ObservationListElement:only-child
{
    border-radius: 2px;
}

.ObservationListElement .image
{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 5px -4px rgba(0, 0, 0, 0.5);
}

.ObservationListElement .name
{
    text-align: left;
    padding-left: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.ObservationListElement .observation-details
{
    padding-right: 5px;
    font-size: 75%;
    color: dimgray;
    text-align: right;
}

.ObservationListElement .AsyncIconButtonBar
{
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: auto;
    display: flex;
    margin-right: 5px;
}

.AsyncIconButton
{
    color: rgb(65, 155, 228);
    cursor: pointer;
    font-size: 95%;
    border-radius: 20%;
    padding: 10px;
    width: 20px;
}

.AsyncIconButton.enabled:active
{
    transform: translateY(2px);
}

.AsyncIconButton.waiting
{
    color: white;
    z-index: 200; /* Lift the button above any shades.*/
    cursor: auto;
}

.AsyncIconButton.disabled
{
    color: rgba(0, 0, 0, 0.2);
    cursor: auto;
}

.GeoTag
{
    display: inline-block;
    transform: translateY(-6px);
    color: rgba(200, 50, 0, 0.7);
    padding-left: 4px;
}

.GeoTag a
{
    color: inherit;
    outline: none;
    text-decoration: none;
}
