body
{
    background-color: #b9b9b9;
    color: white;
    text-align: center;
}

#search-widget
{
    display: inline-block;
}

.BirdSearchField
{
    width: 350px;
    height: 40px;
    outline: none;
    background-color: #eaeaea;
    position: relative;
    z-index: 100;
}

.BirdSearchResultsDisplay
{
    box-shadow: 0 1px 5px -3px rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 101;
}

.BirdSearchResultElement
{
    width: 320px; /* Width of the parent container minus padding.*/
    color: black;
    background-color: #f2f2f2;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 110%;

    -moz-user-select: none;
    user-select: none;

    transition: all 0.04s ease-in-out;
}

.BirdSearchResultElement .BirdThumbnail
{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 5px -4px rgba(0, 0, 0, 0.5);
}

.BirdSearchResultElement .name
{
    text-align: left;
    padding-left: 3px;
}

.BirdSearchResultElement:last-child
{
    border-radius: 0 0 2px 2px;
}

.BirdSearchResultElement:nth-child(2n)
{
    background-color: #eaeaea;
}

.BirdSearchResultElement .observed-date
{
    margin-left: auto;
    padding-right: 5px;
    font-size: 75%;
    color: dimgray;
    text-align: right;
}

.BirdSearchField
{
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
}

.ObservationList
{
    display: inline-block;
    width: 520px;
}

.ObservationList .sorter
{
    margin-bottom: 15px;
}

.ObservationListElement
{
    position: relative;
    color: black;
    background-color: #f0f0f0;
    padding: 20px;
    padding-left: 15px;
    padding-top: 11px;
    padding-bottom: 11px;
    display: flex;
    align-items: center;
    margin-top: 0px;
    border-radius: 0px;
}

.ObservationListElement:first-child
{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.ObservationListElement:last-child
{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.ObservationListElement:only-child
{
    border-radius: 3px;
}

.ObservationListElement:nth-child(2n)
{
    background-color: #f7f7f7;
}

.ObservationListElement .BirdThumbnail
{
    width: 70px;
    height: 70px;
    margin-right: 14px;
    border-radius: 50%;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.55);
}

.ObservationInfo
{
    height: 70px; /* Match the height of the bird thumbnail.*/
    line-height: 137%;
    display: inline-block;
    text-align: left;
    padding-left: 15px;
    border-left: 5px dotted rgba(0, 0, 0, 0.2);
}

.ObservationInfo .title
{
    font-size: 110%;
    display: inline-block;
    margin-bottom: 1px;
}

.ObservationInfo .date
{
    font-size: 80%;
    color: rgba(0, 0, 0, 0.55);
}

.ObservationInfo .classification
{
    font-size: 80%;
    color: rgba(0, 0, 0, 0.55);
}

.AsyncIconButtonBar > .buttons
{
    display: flex;
    padding-left: 7px;
    border-radius: 8px;
}

.AsyncIconButtonBar > .buttons > *
{
    flex: 1;
}

.ObservationListElement .AsyncIconButtonBar
{
    font-size: 100%;
    transition: all 0.3s ease-in-out;
    position: absolute;
    right: 30px;
    font-size: 110%;
}

.ObservationListElement .AsyncIconButton
{
    color: rgba(53, 145, 231, 0.5);
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    width: 20px;
}

.ObservationListElement .AsyncIconButton.enabled:active
{
    transform: translateY(2px);
}

.ObservationListElement .AsyncIconButton.enabled:hover
{
    color: rgb(53, 145, 231);
}

.ObservationListElement .AsyncIconButton.disabled
{
    color: rgba(0, 0, 0, 0.2);
    cursor: auto;
}

.GeoTag
{
    display: inline-block;
    transform: translateY(-3px);
    color: rgba(0, 0, 0, 0.25);
    padding-left: 6px;
    font-size: 100%;
}

.GeoTag a
{
    color: inherit;
    outline: none;
    text-decoration: none;
}

.Dialog
{
    min-width: 400px;
    padding-top: 0px;
    padding-bottom: 1px;
    background-color: #f2f2f2;
    border-radius: 6px;
    display: inline-block;
    color: black;
    z-index: 200;
    box-shadow: 0 6px 10px -7px rgba(0, 0, 0, 0.55);

    /* Temp hack. Fixes the background border showing through the title's corners.*/
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    /* Center in the viewport.*/
    position: fixed;
    transform: translateX(-50%);
    top: 20px;
    left: 50%;
}

.Dialog > .title
{
    text-align: left;
    padding: 18px;
    color: white;
    border-radius: 0;
    background-color:rgb(53, 145, 231);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    user-select: none;
    -moz-user-select: none;
}

.Dialog > .button-bar
{
    width: 200px;
    position: absolute;
    bottom: -75px;
    right: 0;
    display: flex;
}

.Dialog > .button-bar > *
{
    user-select: none;
    -moz-user-select: none;

    margin: 5px;
    padding: 0px;
    font-size: 95%;
    color: #f2f2f2;
    cursor: pointer;
    flex: 1;

    transition: transform 0.025s ease-in-out;
}

.Dialog > .button-bar > *:hover
{
    color: white;
}

.Dialog > .button-bar > *.disabled
{
    color: rgb(168, 168, 168);
    cursor: inherit;
    pointer-events: none;
}

.Dialog > .button-bar > *.waiting
{
    color: white;
}

.Dialog > .form
{
    padding-top: 18px;
    padding-left: 17px;
    padding-right: 20px;
    padding-bottom: 15px;
    display: flex;
}

.Dialog > .form > .fields
{
    flex: 1;
}

.Dialog > .form > .BirdThumbnail
{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50%;
}

.Dialog > .form > .fields input
{
    outline: none;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.23);
}

.Dialog > .form > .fields input:focus
{
    border: 1px solid rgba(53, 145, 231, 0.8);
}

.Dialog.QueryObservationDate > .form > .fields > .date-bar
{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
}

.Dialog.QueryObservationDate > .form > .fields > .date-bar *
{
    flex: 1;
    min-width: 0;
}

.Dialog.QueryObservationDate > .form > .fields > .date-bar > .month
{
    flex: 2;
}

.Dialog.QueryObservationDate > .form > .fields .ScrollerLabel
{
    text-align: center;
}

.Dialog.QueryObservationDate > .form > .fields > .bird-name
{
    color: black;
    text-align: left;
}

.Dialog.QueryObservationDeletion
{
    min-width: 450px;
    padding-bottom: 2px;
}

.Dialog.QueryObservationDeletion > .form > .fields
{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.Dialog.QueryObservationDeletion > .form > .fields
{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.Dialog.QueryObservationDeletion > .form > .fields input
{
    padding-left: 43px; /* Make room for the embedded icon.*/
}

.Dialog.QueryObservationDeletion > .form > .fields > .list-id
{
    flex: 1;
}

.Dialog.QueryObservationDeletion > .form > .fields > .character-count
{
    margin-left: auto;
    margin-right: 4px;
    margin-top: 4px;
    font-size: 80%;
}

.Dialog.QueryObservationDeletion > .form > .fields > .bird-name
{
    color: black;
    text-align: left;
    margin-bottom: 12px;
}

.Dialog.QueryObservationDeletion > .form > .fields .input-icon
{
    position: absolute;
    left: 146px;
    bottom: 51px;
    display: inline-block;
    color: rgb(185, 185, 185);
}

.Dialog.QueryObservationDeletion > .form > .fields .input-icon.good-input
{
    color: rgba(53, 145, 231, 0.8);
}

.Dialog.QueryObservationPlace
{
    min-width: 450px;
    padding-bottom: 2px;
}

.Dialog.QueryObservationPlace > .form > .fields
{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.Dialog.QueryObservationPlace > .form > .fields > .bird-name
{
    color: black;
    text-align: left;
    margin-bottom: 12px;
}

.Dialog.QueryObservationPlace > .form > .fields input
{
    padding-left: 43px; /* Make room for the embedded GeoTag.*/
}

.Dialog.QueryObservationPlace > .form > .fields .map-link
{
    font-size: 175%;
    position: absolute;
    left: 150px;
    bottom: 44px;
    display: inline-block;
}

.Dialog.QueryObservationPlace > .form > .fields .map-link a
{
    color: rgba(53, 145, 231, 0.8);
    text-decoration: none;
}

.Dialog.QueryObservationPlace > .form > .fields .map-link a.disabled
{
    color: rgb(191, 191, 191);
}

.Dialog.QueryObservationPlace > .form > .fields > .character-count
{
    margin-left: auto;
    margin-right: 4px;
    margin-top: 4px;
    font-size: 80%;
}

.Dialog.QueryObservationPlace > .form > .fields > .place-name
{
    flex: 1;
}

.ScrollerLabel
{
    user-select: none;
    -moz-user-select: none;
}

.ScrollerLabel .Scroller
{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.2);
}

.ScrollerLabel .Scroller:hover
{
    color: rgba(53, 145, 231, 0.8);
}

.ScrollerLabel .Scroller:active
{
    color: rgb(53, 145, 231);
}
