@media only screen and (max-width: 1200px)
{
    #content
    {
        width: 100%;
        margin: 0;
    }

    #content > #navi-bar
    {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 900px)
{
    #content > #navi-bar
    {
        margin-right: 10px;
        flex-basis: 30%;
    }
}

@media only screen and (max-width: 700px)
{
    #content > #navi-bar
    {
        display: none;
    }

    #content > #body-text
    {
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 500px)
{
    h1
    {
        font-size: 175%;
    }
}

@media only screen and (max-width: 400px)
{
    h1
    {
        font-size: 150%;
    }
}
